/* sm */
@media (min-width: 576px) {
    
}

/* md */
@media (min-width: 768px) {
    
}

/* lg */
@media (min-width: 992px) {
    :root{
        font-size: 16px;
    }

    .vlaidation-caption h5{
        font-size: 1.3125rem !important;
    }

    .vlaidation-caption :not(h5){
        font-size: 1.125rem !important;
    }
}

/* xl */
@media (min-width: 1200px) {

}

/* xxl */
@media (min-width: 1400px) {

}